[2019-01-15 08:06] mlisitski opened #1 "On/Off switch would be nice"
Could you add On and Off states (to save battery when no need for BT).

[2019-01-17 20:20] tilmanginzel commented on #1
Hi @mlisitski, yes that is a good idea. Currently `blt {device}` is used to (de)select a device. What would you recommend for the on/off switch? Maybe `blt-toggle`? Or explicitly `blt-on`/`blt-off`? I will try to find some time for this on the weekend.

[2019-01-17 23:17] mlisitski commented on #1
If you could do both to change state, this would be a hit for BT Alfred workflow. I did search and could not find any workflow that toggle state and allows to connect devices at the same time):
blt-toggle - invert current state.
blt-on/blt-off - switch state.

[2019-01-17 23:27] tilmanginzel commented on #1
Good idea, supporting both `blt-toggle` and `blt-on/off` should be the best approach. :)

[2019-01-18 07:26] trietsch opened #2 "Is this based on trietsch/alfred-bluetooth-connector"
Hi, is this repo based on https://github.com/trietsch/alfred-bluetooth-connector ? If so, I'd appreciate if you link to it in your readme.

[2019-01-18 15:16] tilmanginzel commented on #2
Hey @trietsch, I would not exactly say based on as I use a different approach, but I certainly can't deny that I took some inspiration from your implementation, especially regarding the `system_profiler SPBluetoothDataType -xml` command and `blt` naming. Forgive me that I forgot to link to your repository when I published this repository.

I will happily link to your project later or tomorrow! :)

[2019-01-18 16:23] tilmanginzel commented on #2
Let me know if 1642991f9 is fine for you.

[2019-01-18 16:33] trietsch commented on #2
No problem at all, the change looks good :) Though maybe we can combine our efforts. Your approach using xpath and the XML is pretty nice, I think better than the regex I'm using.
The main difference I think is size of the workflow, and another one is that my version is able to update itself.

What do you say, do you think we can work together in one repo?

[2019-01-18 16:40] tilmanginzel commented on #2
Yes I am open for collaboration. :)

I wanted to take a look at #1 later today or tomorrow and utilize [blueutil](http://www.frederikseiffert.de/blueutil/) for this. Small tool which does a great job, even if it's 9 years old. I also stumbled upon [toy/blueutil](https://github.com/toy/blueutil), which added capabilites to also connect to devices. This would make the current BluetoothConnector obso

[2019-01-21 17:58] tilmanginzel commented on #1
Hey @mlisitski, I have added the commands to the latest [release](https://github.com/tilmanginzel/alfred-bluetooth-workflow/releases/tag/v0.2.0). Feel free to give it a try, would be great to know if it works for you! :)

[2019-01-22 01:48] mlisitski commented on #1
Thanks, works. But, for some reason, I can use only "blt-". Surprisingly, it is even better as less typing ;)

[2019-01-22 21:50] tilmanginzel commented on #1
Thanks for checking! Just to make sure that I understand you correctly: Do you mean by only using `blt-` that you select the specific entry afterwords via keyboard/mouse/shortcut?

While I agree that this is much faster than to type the full command, there is still a minor usability issue: Currently, when you type `blt-on`, `blt-off` or `blt-toggle` the command is executed _immediately_, without t

[2019-01-22 21:57] tilmanginzel commented on #2
Hey @trietsch, just to keep you in the loop: I have removed the BluetoothConnector and added [toy/blueutil](https://github.com/toy/blueutil) instead. This allowed to add further commands to power Bluetooth on or off (`blt-on`, `blt-off`, `blt-toggle`).

The workflow size was reduced by roughly 3 megabytes to around 8.5. I think reducing it much more will be difficult due to the lxml size. I tested

[2019-01-23 02:17] mlisitski commented on #1
Yes.
When I type blt-on, blt-off or blt-toggle it opens google and not a command.
Also, blt-toggle could be switched to blt-t (faster)

[2019-01-23 17:38] tilmanginzel commented on #1
Good idea, I will keep this in mind for the next release.

If you press enter quite fast, Google opens. But the command is still executed. As I mentioned, the commands executes immediately as soon as its typed (without pressing enter), the command then disappears and Google Search is pre-selected.

I will look into this, as it's pretty annoying.

[2019-01-24 20:19] trietsch commented on #2
Thanks for the update (and sorry for the late reply)! Nice work on using blueutil instead. I think we can merge your work with my work on the workflow updates.
I can clone your repo and implement the workflow update functionality there. Shall I setup a new repo with access for the both of us?

We can link to the new repo from our original repos that way.

[2019-01-24 20:24] tilmanginzel commented on #2
Whatever you prefer! :) Alternatively I could just grant you collaborator rights in this repository, but if you feel that a new one / fork is necessary we can do that of course.

[2019-01-24 21:47] trietsch commented on #2
Cool :) I've just setup a new repo for testing (I'll remove that one later), with the auto update functionality implemented. Care to check [it out](https://github.com/trietsch/temp-alfred-bluetooth-workflow)? Just download the first release, and then try to update it (either by selecting the `Update is available` item, or by typing `blt workflow:update`).

Let me know what you think!

[2019-01-24 22:01] trietsch commented on #2
Oh, it can definitely use some more improvements, but we can do that in the future.

[2019-01-24 22:11] tilmanginzel commented on #2
Nice, looks good. But for some reason the "Update available for Bluetooth Connector!" only appears if I typed `blt workflow:update` previously. Is this the expected behavior? Besides that the update works just fine. :)

[2019-01-30 20:49] trietsch commented on #2
Cool, good to hear! I've created a pull request :)

[2019-02-25 19:46] tilmanginzel commented on #1
@mlisitski I will close this issue now as `blt-on`, `blt-off` and `blt-toggle` commands are implemented. The usability issue mentioned above is also fixed in v0.4.0.

[2019-02-25 19:46] #1 closed

[2019-02-25 19:49] tilmanginzel commented on #2
@trietsch I think we can close this issue now. If you'd like we can just continue collaborating as we do at the moment:
* work via merge requests
* let the other one review
* merge and publish a new version

What do you think? :)

[2019-02-25 22:11] trietsch commented on #2
Sounds good to me! Wondering what kind of improvements are still to come though :)

[2019-02-25 22:11] #2 closed

[2019-02-25 22:22] tilmanginzel commented on #2
Yeah, the most important features are already there I guess. Here are two more off the top of my head for some future releases:
1. If bluetooth is off and you try to connect to a device, power it on automatically and connect afterwards
2. Add possibility to pair with new devices. Probably not important though as new pairings happing infrequently.

[2019-05-13 17:47] littke opened #7 "Update status continuously"
Hey,

Thanks for building a fantastic workflow 🤗

I had an idea... I am using this to connect to my Bose QC 35. And those don't want to connect unless they're in pairing mode. But it's not always obvious whether they are. So I usually just type `blt [name of my headphones` and connect.

And then I wait. I won't know whether I was successful unless I re-open Alfred type in the same command again.

[2019-05-14 17:15] tilmanginzel commented on #7
Hey @littke,

first of all thanks for the kind words! :)

I like the idea. But I also don't know if it is possible in Alfred to wait for the execution of a command or continously update the result set until a desired state is reached. This was my first workflow so I will need to dig into it. Maybe @trietsch has an idea?

Maybe this feature could be configurable inside the workflow. I am not entire

[2019-05-14 17:37] trietsch commented on #7
Hey @littke, thanks!

Regarding your idea, it sounds nice indeed. I caught myself today doing the exact same thing (even though it says Bluetooth connected).

Easiest (and also very easy to configure for end users) is to just send a push notification stating the end result of the action. @tilmanginzel how does that sound?

[2019-05-14 17:40] tilmanginzel commented on #7
That sounds like the perfect solution! :) This wouldn't interrupt anyones workflow, so a configuration is probably not even necessary. The notification could also be used for disconnecting devices, turning bluetooth on or off. That's a great visual feedback, if you might not be sure what just happened.

@littke What do you think?

[2019-05-14 17:43] tilmanginzel commented on #7
If it can be used for all commands, here are some proposals for the texts:
* Connected to [device]
* Disconnected [device]
* Bluetooth turned on
* Bluetooth turned off

The last two are especially useful if someone uses the `blt toggle` command.

@trietsch Do you want to give it a go some time or should I try? :)

[2019-05-14 17:56] trietsch commented on #7
Great! Keen on what @littke thinks.

You can implement it if you want, I'll review :) Quite busy at the moment.

[2019-05-14 17:58] tilmanginzel commented on #7
Alright. I should be able to find some time later this week, without any guarantees. ;)

[2019-05-16 20:25] littke commented on #7
Haha wow. You're both not only kind, but appreciative of my input *and* you're thinking of starting on it almost right away. Jackpot! 🙌

In terms of the proposed solution, let me think...

I think the important piece is what happens if it doesn't connect. The "connection successful" is all fine and good... but sometimes my headphones are paired to something else (my phone? my ipad? my watch? my wi

[2019-05-17 11:02] tilmanginzel commented on #7
Hey @littke, good idea to include buttons into the notifications! I quickly checked, and the default Alfred notifications do not allow to use custom buttons. Luckily, this exists: https://github.com/julienXX/terminal-notifier

Using the terminal-notifier would have another advantage: We can use custom icons for each notification, so for example if the connection failed, we can add a small red _x_

[2019-05-17 20:31] littke commented on #7
Sweet. Let's do it.

Errr... I mean. You do it.

If you need any design stuff done though, I'm happy to help. Been designering for many years now.

I also don't check GitHub too often so if you need input on anything just ping @littke on Twitter

Cheers

[2019-05-19 18:53] tilmanginzel commented on #7
So, unfortunately some bad news. [terminal-notifier](https://github.com/julienXX/terminal-notifier) does not support action buttons [anymore](https://github.com/julienXX/terminal-notifier/releases/tag/2.0.0), which previously have been provided by [alerter](https://github.com/vjeantet/alerter). Alerter features have been removed from terminal-notifier due to some issues, and apparently it's not ac

[2019-05-19 19:48] tilmanginzel commented on #7
Some further reasearch led me to this: [node-notifier](https://github.com/mikaelbr/node-notifier), a Node.js module supporting cross-platform notifications with action buttons. :)

It could be complicated to include this into the workflow (but I assume it's possible). I am a JavaScript noob, so it might take a lot more time to get this working. Thus I will probably implement the "simple" notificat

[2019-05-21 21:59] littke commented on #7
👍

[2019-05-25 22:49] tilmanginzel commented on #7
Hi @littke, @trietsch. I have added a pull request for the notifications. Here are some examples on how they look like:

<img width="371" alt="blt-on" src="https://user-images.githubusercontent.com/3899565/58375166-5eba7c80-7f4d-11e9-9c7e-f10c471fd577.png">
<img width="371" alt="failed-to-connect" src="https://user-images.githubusercontent.com/3899565/58375169-6417c700-7f4d-11e9-82df-3ce7460481a1.

[2019-05-28 17:52] littke commented on #7
Super. How can I try it?

SGTM 👍

How about: Disconnected from <title>

I've never seen this elsewhere and it feels non-standard. I would recommend to wait until you know how to implement a button in the notification instead.

[2019-05-28 19:55] tilmanginzel commented on #7
Done, thanks.

Feel free to test the following workflow: [Bluetooth Connector.alfredworkflow.zip](https://github.com/tilmanginzel/alfred-bluetooth-workflow/files/3229425/Bluetooth.Connector.alfredworkflow.zip)

Fine with me. :) But: I have tried to do that already so there is a high possibility that this won't get implemented until someone can provide a merge request for this.

[2019-05-29 18:00] littke commented on #7
I see. In that case, I guess a "Click to retry" is better than having to reopen the workflow.

This worked just like before. Meaning, I saw no notifications, regardless of which action I chose. The `version` file says 0.5.0, and I am positive that I installed the file you provided.

[2019-05-30 13:50] tilmanginzel commented on #7
Hmm, that is weird. I have added some debug output, so you need to install this version:
[Bluetooth Connector.alfredworkflow.zip](https://github.com/tilmanginzel/alfred-bluetooth-workflow/files/3237221/Bluetooth.Connector.alfredworkflow.zip)

Can you enable the debug output in Alfred and check if the logs show the same as in this example:
<img width="848" alt="grafik" src="https://user-images.gith

[2019-05-30 13:53] tilmanginzel commented on #7
Also, just to be 100% safe: The [Do Not Disturb mode](https://support.apple.com/guide/mac-help/use-do-not-disturb-mchl999b7c1a/mac) is off? Someone else reported that he once had issues with terminal-notifier (and other notifications) and a [restart seems to have fixed it](https://github.com/julienXX/terminal-notifier/issues/243).

[2019-05-30 23:12] littke commented on #7
Interestingly, that version worked.

Do Not Disturb mode is off now. I think it was off when I tested this last, as well, since I never use that feature.

[2019-05-31 17:26] tilmanginzel commented on #7
That is definitely weird, but nice to hear that it generally works now. :) In the coming days, I will try to implement the "Click to retry" feature.

[2019-06-03 17:30] littke commented on #7
Sweet!

[2019-06-06 20:37] tilmanginzel commented on #7
Hey @littke, just to keep you in the loop: Unfortunately I was very busy this last week, and now I am again unavailable for roughly one and a half week. So it will take a bit more time until the retry feature is implemented.

[2019-06-20 21:02] tilmanginzel commented on #7
I was finally able to put some time into the "Click to Retry" feature. :) It was confirmed once again that the notification handling is quite difficult in MacOS, especially if you want to do custom stuff. But I think the current solution is working well enough!

If a command fails, you can now click on it to retry. You will be notified of the result, and could retry it again.

There is one caveat

[2019-07-08 09:26] tdurieux commented on #7
Hello,

I tried to use the latest zip of this issue and I obtain the following error:

[code]

Do you know what could produce it? Alfred 4 (I have no issue with version 0.4)?

[2019-07-08 11:11] tilmanginzel commented on #7
Hey @tdurieux, thanks for the feedback! I feared that something like this will happen, I don't think it has anything to do with the Alfred version (I am still on version 3). I had to rework the script path resolution because they must be executed from two different contexts now:
* from inside the workflow itself
* globally from the notification center when retrying a command, which is executed in

[2019-07-08 11:14] tilmanginzel commented on #7
@tdurieux @littke This should work now: [Bluetooth Connector.alfredworkflow.zip](https://github.com/tilmanginzel/alfred-bluetooth-workflow/files/3368084/Bluetooth.Connector.alfredworkflow.zip)

[2019-07-08 13:40] tdurieux commented on #7
Thanks, this new version does not crash however I do not receive the notification.

[code]

[2019-07-08 18:04] tilmanginzel commented on #7
Hm, unfortunately I can only guess here as this is out of my hands. Do you have [Do Not Disturb mode](https://support.apple.com/guide/mac-help/use-do-not-disturb-mchl999b7c1a/mac) enabled? @littke above also mentioned that the notification wasn't working at first and then suddenly it was...

[2019-07-10 07:42] tdurieux commented on #7
the notification started to work, i have no idea why...

[2019-07-10 17:30] tilmanginzel commented on #7
@tdurieux Cool! On one hand that's great to hear, but also a bit weird that you are now the second one were it started to work just after a while. ;)

Were you able to check if the retry functionality is working? Just connect to an unavailable device, click on the notification and wait until there is new notification.

[2019-07-10 17:44] tdurieux commented on #7
It was not working again...
I debug a little bit the script and I found the issue. It is related to `-sender "de.tilmanginzel.alfred.bluetooth"`. If the id is not correct the notification will not be sent.

I received only once this notification and it worked!

Using this version of the script, the notification always works

[code]

[2019-07-10 18:46] tilmanginzel commented on #7
Thanks for investigating this! :) I removed the `-sender` flag. My guess it that the sender id must be unique and known to MacOS. As the workflow is only integrated inside Alfred, this might be a bit flaky.
Ideally we should compile a custom version of terminal-notifier with the icon baked into it, because the `-appIcon` integration is not super beautiful.

There is still one issue left which I ca

[2019-07-10 18:57] tilmanginzel commented on #7
Hm, interestingly a path with spaces (escaped with `\ `) works in my minimal example. So this _should_ be fixable. Will dig deeper. ;)

[2019-07-10 19:19] tilmanginzel commented on #7
Fixed, here is the latest version: [Bluetooth Connector.alfredworkflow.zip](https://github.com/tilmanginzel/alfred-bluetooth-workflow/files/3379066/Bluetooth.Connector.alfredworkflow.zip)

Notifications and retries should now work without any issues (hopefully!).

[2019-07-11 10:22] tdurieux commented on #7
Thanks a lot.

It seems to work fine for me!

[2019-07-26 23:47] littke commented on #7
Very nice! I'd love to try this as I'm now back in California, but the workflow doesn't work with Catalina. I've filed another issue.

[2019-07-26 23:47] littke opened #9 "Can't use workflow under macOS Catalina beta"
![image](https://user-images.githubusercontent.com/227383/61986575-10654080-afc5-11e9-8bf7-018fcf48741f.png)

[2019-07-29 18:43] tilmanginzel commented on #9
Hi @littke, thanks for this info! Are you still using Alfred 3 or Alfred 4 already? Someone also mentioned this issue [here](https://www.alfredforum.com/topic/13383-workflows-that-call-bash-scripts/?tab=comments#comment-69238) with a little more info, funnily also regarding this workflow.

Some notes:

* I am distributing lxml with this workflow, which apparently is blocked by Gatekepper
* It seem

[2019-07-29 18:44] tilmanginzel commented on #7
Meh, that's unfortunate. Hopefully we can find a solution in #9.

[2019-07-31 15:48] littke commented on #9
Alfred 4. It indeed seems to work with my home computer, using Alfred 3.

I'll look into your request once I'm at work to see if it fixes it, that's where I have Alfred 4.

[2019-07-31 18:16] tilmanginzel commented on #9
And your home computer is also using MacOS Catalina? That would be interesting 🤔

[2019-07-31 22:05] littke commented on #9
Yep. That worked.

[2019-08-02 17:10] tilmanginzel commented on #9
Ok thanks, I will try to test the workflow in Alfred 4 in the coming days, maybe that makes a difference.

[2019-08-02 21:18] littke commented on #9
That worked, however:

![image](https://user-images.githubusercontent.com/227383/62399346-663f6880-b530-11e9-92ce-78e292eaef6f.png)

[2019-08-02 21:24] littke commented on #9
And oh, when I resolve that (via homebrew — look at me pretending to be a programmer! woo), I get this error:

![image](https://user-images.githubusercontent.com/227383/62399596-35abfe80-b531-11e9-9ac5-a5009487508e.png)

etc etc. I think I give up on this now :)

[2019-08-03 18:01] tilmanginzel commented on #9
Thanks for testing, you made some progress. ;) Seems like all binaries distributed with my workflow cannot be opened. :(

I tried to reprocude this (on Mojave):

- Installed Alfred 4 and migrated my workflows
- Workflow is (mostly) working as expected, `blueutil` and `etree.so (lxml)` are working
- Notification was shown via terminal-notifier
- Clicking on the notification (to retry) funnily did _

[2019-08-03 18:35] tilmanginzel commented on #9
Regarding MacOS Catalina / Gatekeeper. I mostly think the direction Apple is taking here is noble, as they try to minimize the risk of running insecure applications. But, my gut feeling right now is that a huge amount of software must be notarized in retrospect and _many_ applications won't work for a long time. As far as I understand, to notarize your app you must have a valid developer ID certif

[2019-08-04 16:54] littke commented on #9
Agree on all of the above.

Yeah, tricky question. Expensive to find out, too!

Hopefully some solution will emerge, irregardless of this plugin. Seems many others are fighting the same fight, so, something should emerge from it. Perhaps just lie low for now?

[2019-08-04 18:52] tilmanginzel commented on #9
Yes, I will lie low for now, as I cannot really investigate this further. Once Catalina is out I can give it another try. For now, if you want to get the workflow working again (you are almost there):
[code]
And then update all `../blueutil` commands in the shellscripts to `blueutil`. Same for `terminal-notifier`:

[code]

And change all occurrences of `../terminal-notifier.app/Contents/MacOS/term

[2019-10-03 18:43] tilmanginzel commented on #7
I think it was time to merge this feature. :)

[2019-10-03 18:43] #7 closed

[2019-10-03 20:22] tdurieux commented on #7
Thanks again!

[2019-10-04 13:36] tbrek opened #10 "Failed notification shown for AirPods"
When trying to connect my AirPods I'm getting an error message, but they connect successfully:

<img width="371" alt="image" src="https://user-images.githubusercontent.com/9820995/66211638-5b31c180-e6b4-11e9-96fd-556cce112c7d.png">

<img width="587" alt="image" src="https://user-images.githubusercontent.com/9820995/66211655-6389fc80-e6b4-11e9-84c1-cfd554a2ba8b.png">

[2019-10-04 20:25] tilmanginzel commented on #10
Hi @tbrek, thanks for the issue. This is a bit weird.

The code where that notification is generated is in [`blt.sh`](https://github.com/tilmanginzel/alfred-bluetooth-workflow/blob/master/scripts/blt.sh):
[code]

So blueutil apparently says that the device is not connected. Can you please check the following:

* Locate the workflow directory
* Open a terminal
* Find the device id, e.g. via `./blue

[2019-10-07 09:49] tbrek commented on #10
[code]

It looks like blueutil sees it as connected.

[2019-10-07 09:56] tbrek commented on #10
I think I fixed it. Adding `sleep 1` helps as the script seems to be too fast, so, if `blt.sh`
is:
[code]
It works fine for me.

[2019-10-07 16:27] tilmanginzel commented on #10
@tbrek Hm that is interesting. If I am understanding the code behind blueutil correctly, it calls this API: [IOBluetoothDevice.openConnection()](https://developer.apple.com/documentation/iobluetooth/iobluetoothdevice/1428435-openconnection).

Quote from the documentation:

Afterwards, [IOBluetoothDevice.isConnected()](https://developer.apple.com/documentation/iobluetooth/iobluetoothdevice/1432785-

[2019-10-07 16:50] tilmanginzel commented on #10
@tbrek Can you check if the following version does the trick (without any sleep)? :)

[Bluetooth Connector.alfredworkflow.zip](https://github.com/tilmanginzel/alfred-bluetooth-workflow/files/3698562/Bluetooth.Connector.alfredworkflow.zip)

[2019-10-08 06:49] avxkim commented on #9
Any updates on this? Btw, even install `blueutil` and changing all bash scripts in a workflow, still calling etree.so.

**UPDATE**

I've noticed, this works with an old version of workflow, but with latest one, like 0.5.0 gives etree.so error.

[2019-10-08 07:17] avxkim commented on #10
@tilmanginzel your archive complains regards etree.so and doesn't open.

[2019-10-08 07:27] webcoderkz opened #11 "Latest 0.5.0 causes etree.so errors"
When using an older version, i have no issues under Catalina, but 0.5.0 gives such error about `etree.so` from unidentified developer.

I also have this issue with airpods: https://github.com/tilmanginzel/alfred-bluetooth-workflow/issues/10

[2019-10-08 08:09] tbrek commented on #10
Yes. That also fixed the issue. Thanks.

[2019-10-08 08:10] avxkim commented on #10
@tbrek don't you have issues with etree.so with the above workflow?

[2019-10-08 08:12] tbrek commented on #10
@webcoderkz no i don't. Could be Catalina related. I have not upgraded yet.

[2019-10-08 08:13] avxkim commented on #10
Ah, i see, i thought you're on Catalina already.

@tilmanginzel please, update your latest workflow for Catalina. Because older version of workflow works (i just updated it using `workflow:update` to the latest). If i delete the old workflow, and download 0.5.0 it gives me etree.so error.

[2019-10-08 17:35] tilmanginzel commented on #10
Perfect! I have pushed the fix and released version 0.6.0 :)

@webcoderkz will comment in #9.

[2019-10-08 17:35] #10 closed

[2019-10-08 17:36] tilmanginzel commented on #11
Hi, #10 was just fixed. :) Will close this as duplicate of #9 and comment there regarding Catalina.

[2019-10-08 17:36] #11 closed

[2019-10-08 17:43] tilmanginzel commented on #9
Hi @webcoderkz, let me start of by saying that I don't installed Catalina yet (and I am not sure when I will do), so it's difficult to reproduce and find a valid fix. This has a high priority though, as I can see that it's quite annoying if the workflow is not working.

A couple of questions:

- Is the error only related to `etree.so`? Or did you also see errors regarding blueutil and terminal-not

[2019-10-08 17:43] avxkim commented on #9
I just updated to 0.6.0 via `blt workflow:update`, now my airpods notification error is gone. But why this works only if i use an older version of this workflow, then update it?

[2019-10-08 17:43] tilmanginzel commented on #9
You were too fast, see comment above. :)

[2019-10-08 17:48] avxkim commented on #9
@tilmanginzel

1. It's related only to `etree.so` error. When i type `blt` in alfred 4, i immediately getting this error.
2. I've tried `sudo spctl --master-disable`, error still present.
3. Yes, earlier version does work, i just had to `blt workflow:update` to the 0.6.0 and everything is working now.
4. Deanishe gave you an idea on alfredforums, i suspect, it would resolve this issue.

Here's the

[2019-10-08 17:52] tilmanginzel commented on #9
Thanks for the info. I would have thought that using `sudo spctl --master-disable` would at least do the job (temporarily). Anyway, that would not be long term solution.

I will try to find a substitute or different approach to lxml as mentioned [by Deanishe](https://www.alfredforum.com/topic/13383-workflows-that-call-bash-scripts/?tab=comments#comment-69238). Hopefully I can find time this week.

[2019-10-08 17:55] avxkim commented on #9
I saw releases page, but i downloaded this workflow, like 1 year ago if i not mistaken, so i wasn't sure, which version do i actually have. Basically, your workflow is built on top of `blueutil` library, what does etree.so do?

[2019-10-08 17:59] tilmanginzel commented on #9
etree.so (part of lxml) is used to parse the output of `system_profiler SPBluetoothDataType -xml`. The native xml libraries in python had limited XPath support, so it was much easier to use lxml. blueutil was only introduced in a later workflow version.

`system_profiler SPBluetoothDataType -xml` has a bit more information than blueutil (battery percentage). Maybe I should drop the battery percent

[2019-10-08 18:30] tilmanginzel commented on #9
@webcoderkz Can you please check the following version:
[Bluetooth Connector.alfredworkflow.zip](https://github.com/tilmanginzel/alfred-bluetooth-workflow/files/3703996/Bluetooth.Connector.alfredworkflow.zip)

LXML dependency was removed completely. Only blueutil is used to get device information.

[2019-10-08 18:32] tilmanginzel commented on #9
I just downloaded that file myself, unzipped the workflow and unfortunately blueutil and terminal-notifier both have the quarantine flag set.

[code]

So Gatekeeper will likely still complain :(

[2019-10-08 18:41] tilmanginzel commented on #9
As a workaround for now, see: https://github.com/deanishe/alfred-sublime-text/issues/20#issuecomment-539578934

[2019-10-08 19:00] avxkim commented on #9
@tilmanginzel well, it works with an old version, that's why i gave you a link in a previous posts. But for the new users, it would be a problem on Catalina, because neither of the new versions would work without a hemorrage.

[2019-10-08 19:02] tilmanginzel commented on #9
I know, that's why I am looking for a solution. ;) The old version does not have the notification feature which I really like.

I will look into correctly notarizing the workflow and the distributed binaries. Maybe I can find some time for this on the weekend or the coming week.

[2019-10-08 19:04] avxkim commented on #9
Wait, what notification features you're talking about? I have them. I have the latest 0.6.0 version of your workflow (but, as i mentioned before, i first installed an old version of workflow, then updated to an actual version with all bells and whistles).

[2019-10-08 19:07] tilmanginzel commented on #9
Yes I am talking about that notification feature. I don't know why it is working when you download an old version first, and then upgrade. Basically we have these two options on Catalina:

- A user installs the latest version (as probably every user would do). He cannot use the workflow without hassle.
- A user first has to install an old version, and then upgrade. While this might work as an work

[2019-10-08 19:10] avxkim commented on #9
I'm curious either, why it does work with an old version. Maybe you need to put a note in your readme with an old version, so Catalina users could use this workflow.

[2019-10-08 19:18] deanishe commented on #9
As a third option, you could perhaps use the notifier API in Alfred-Workflow: it uses AppleScript, so isn't subject to the same restrictions. Of course, there's no possibility to execute a command from the notification, though, and it would suck for Catalina users to lose that feature…

[2019-10-08 19:20] avxkim commented on #9
@deanishe do you have an idea, on why an old version of this workflow does work on Catalina?

[2019-10-08 19:22] tilmanginzel commented on #9
Yup, I don't like to cut down on features because of this. :(

Good point, done.

[2019-10-08 20:11] deanishe commented on #9
Not really. I'm still on High Sierra. Are the contents of the old version meaningfully different?

Is it possible that Catalina "remembers" that the old version is OK because you previously allowed in under Mavericks?

[2019-10-09 03:27] avxkim commented on #9
Dunno, i'll give it a try in a VM, to see if it's indeed remembered the old version in Mojave.

[2019-11-09 15:32] tilmanginzel opened #12 "Notification says the device is connected while it's not"
Copied from @tbrek at https://github.com/trietsch/alfred-bluetooth-connector/issues/5

Steps to reproduce:

1. Try connecting to device which is out of range or currently connected other device
2. Notification will say it's connected while it isn't

[2019-11-09 15:37] tilmanginzel commented on #12
@trietsch @tbrek
This bug was introcuded via https://github.com/tilmanginzel/alfred-bluetooth-workflow/commit/985ddd815042718f8a4818e21e31a7d65f507513 to fix https://github.com/tilmanginzel/alfred-bluetooth-workflow/issues/10. I can reproduce the issue it but interestingly it does not appear for all (unavailable) devices.

I don't entirely understand why it occurs though. If I use `blueutil` direc

[2019-11-09 15:46] tilmanginzel commented on #12
@tbrek Can you please test if the following version fixes the issue? :)
[Bluetooth Connector.alfredworkflow.zip](https://github.com/tilmanginzel/alfred-bluetooth-workflow/files/3827451/Bluetooth.Connector.alfredworkflow.zip)

[2019-11-10 13:11] tilmanginzel commented on #12
@tbrek New version [0.7.0](https://github.com/tilmanginzel/alfred-bluetooth-workflow/releases/tag/v0.7.0) was just published which should mitigate the issue.

[2019-11-10 17:22] tbrek commented on #12
I did update via Alfred and I'm getting this now:
<img width="602" alt="image" src="https://user-images.githubusercontent.com/9820995/68547839-6e842b00-03de-11ea-9988-392fcce395d1.png">

Also I'm not getting any notifications.

[2019-11-10 17:26] tbrek commented on #12
I've sorted notifications. Had to right-click run terminal-notifier and blueutil. I'm still getting those weird `null` though.

[2019-11-10 21:22] tilmanginzel commented on #12
Is my assumption correct that you are on Catalina?

Hm. We could probably just filter those values. Can you paste the content of the following command to check the output?
[code]
I assume `name` is null, but maybe the other values also look odd?

[2019-11-11 08:28] lubosek opened #15 "'NoneType' object has no attribute 'strip' when connecting device after upgrade to 0.7"
**Steps to reproduce:**
1. upgrade to 0.7
2. Invoke Alfred, type "blt studio" (name of the device)
3. error below is thrown

Thanks for looking into it!

[code]

[2019-11-11 20:15] trietsch commented on #15
I'm unable to reproduce this unfortunately. It seems that this occurs when `devices` contains an item that is `None`, though that results in a different, though similar error (`'NoneType' object has no attribute '__getitem__'`).
Could you try the following commands, in order to clean up your workflow cache / data dir?
- `blt workflow:delcache`
- `blt workflow:deldata`
- `blt workflow:delsettings`

[2019-11-12 08:56] lubosek commented on #15
The command don't seem to help.
Here you are (I just stripped the MAC addresses)
`blueutil --paired --format JSON | jq '(.[] | .address) |= "aa-bb-cc-dd-ee-ff"' | pbcopy`

[code]

[2019-11-12 09:14] lubosek commented on #15
I'm wondering if the "device" with null name could be the culprit.

[2019-11-12 21:26] tilmanginzel commented on #15
Hi @lubosek, thanks for the issue and the output json. It is probably the same or similar issue than this [comment](https://github.com/tilmanginzel/alfred-bluetooth-workflow/issues/12#issuecomment-552214901). It definitely would make sense to filter devices with a `null` name. Can you try this version: [Bluetooth Connector.alfredworkflow.zip](https://github.com/tilmanginzel/alfred-bluetooth-workfl

[2019-11-12 21:34] tilmanginzel commented on #12
@tbrek Feel free to check if the version I posted [here](https://github.com/tilmanginzel/alfred-bluetooth-workflow/issues/15#issuecomment-553122083) fixes it.

I am gonna close this issue for now as the incorrect notification problem is fixed. Let's continue with the null issue in #15 :)

[2019-11-12 21:34] #12 closed

[2019-11-13 09:26] lubosek commented on #15
Works fine now.
Thank you for fixing the bug and for the workflow in general!
If you have a PayPal, I'll buy you a beer!

[2019-11-13 09:26] #15 closed

[2019-11-13 21:36] tilmanginzel commented on #15
Great to hear this fixes it @lubosek :) Just published version 0.8.0.

That's very kind, but none required. ;)

[2019-12-19 07:01] cgjosephlee opened #17 "Add back battery level display"
Is it possible?

[2019-12-19 18:10] tilmanginzel commented on #17
Hi @cgjosephlee, unfortunately this is currently not possible (despite the screenshots claiming it). We had to drop this feature in favor of a couple of other improvements, see https://github.com/tilmanginzel/alfred-bluetooth-workflow/pull/14. `blueutil` does not expose the battery percentage, and after a quick check of the underlying [IOBluetooth](https://developer.apple.com/documentation/iobluet

[2019-12-19 18:52] trietsch commented on #17
I've also checked `ioreg`, which directly checks devices linked to macOS, though for many devices, the `BatteryPercent` is just not exposed. Hence, it's also not shown in the bluetooth menu bar dropdown. There doesn't seem a generic way for Bluetooth devices to expose this information to macOS. My guess is, that there is no simple way to bring this back.
Also, the `system_profiler SPBluetoothDataT

[2019-12-19 19:08] tilmanginzel commented on #17
Yes as far as I have seen the battery percentage is generally only shown for Apple devices.

The output from `ioreg` cannot be correlated with the output from `blueutil`, as `ioreg` lists a different device name (maybe I missed the device ID?). `system_profiler` on the other hand would work for some devices, this was used previously. Unfortunately `system_profiler` was a lot slower than just using

[2019-12-24 08:09] clarkttfu commented on #9
OSX 10.15.2 + Alfred 3 + release 0.8.0, just followed [steps here](https://github.com/deanishe/alfred-sublime-text/issues/20#issuecomment-539578934).
Simply put, you need to authorize both workflow and "blueutil" via "Security and Privacy" and restart alfred twice.

For those who failed to start the workflow (for me, I migrated Alfred from mac to mac):
1. remove the workflow from Alfred3
2. instal

[2020-03-04 18:57] chrisbloom7 commented on #9
After installing via `brew install blueutil` I had to run `which blueutil` and then update the workflow scripts to use the full path before the workflow would work for me. This is on OSX Catalina 10.15.3 with Alfred 4.0.8

Edit: This must have been using v0.4.0 of the workflow. I just updated to the latest and it works fine without any changes

[2020-07-24 04:01] thirteen37 commented on #9
I have two options:

# Allow `blueutil` to run

1. From the Alfred's workflow screen, right-click on "Bluetooth Connector" and select "Open in Finder".
2. Right-click on `blueutil` and select "Open". The warning will pop up again, but now you have the option of allowing it.
3. A terminal window will pop up and `blueutil` will print some stuff. You can ignore it and close the terminal.

# Use Homeb

[2020-09-04 19:06] chrisbloom7 commented on #9
At some point this stopped working for me again with a permission denied error in alfred. @thirteen37's suggestion above to `Right-click on blueutil and select "Open".` and then dismissing the encoding warning caused it to start working again.

[2020-09-13 18:18] littke commented on #9
Hello again! About a year later I am back with a new macOS Beta and this time I've got good news.

Installing this on Big Sur:

- Install workflow (latest release)
- Try to run it and get an error, hit `OK`
- Go to Security & Privacy and `Always allow`
- Try to run it again, get an error, this time you can press `Allow`

Works! ✨

[2020-09-15 18:04] tilmanginzel commented on #9
Thanks for keeping everyone in the loop! 👍

[2020-10-11 19:39] jdbruijn commented on #9
Just installed on Catalina 10.15.6 and works similar to @littke's response https://github.com/tilmanginzel/alfred-bluetooth-workflow/issues/9#issuecomment-691705659! You can follow the same steps and install without any problems. Note that the error you get doesn't say to go to Security & Privacy like I believe it does for some applications, but not sure on that.

[2020-10-11 19:49] jdbruijn opened #18 "Add script to restart bluetooth"
Would you accept a PR to add a script/command to restart the bluetooth controller? The suggested command for this would be `blt-restart` and `Bluetooth: Restart`. I'd be happy to PR this, but thought first to check whether you'd accept something like this before spending the work on it.

I've got a very similar workflow to this one, https://github.com/vidavidorra/alfred-bluetooth-control, but have

[2020-10-12 14:28] tilmanginzel commented on #18
Hey @jdbruijn, yes I would happily accept that PR. :) Sounds like a good extension to the workflow 👍

[2020-10-16 12:26] #18 closed

[2020-12-15 22:27] cameronsstone opened #20 "workflow update fails"
Update fails for me from both alfred invocation and terminal _(user and workflow ID anonymized)_:
[code]

I'm using workflow version 0.9.0 with Alfred 4.3.
Any ideas?

[2020-12-15 23:05] cameronsstone commented on #20
So calling `blt workflow:autoupdate` caused a successful reinstall, and has made the "new version available" entry go away, but it seems to have just installed version 0.9.0 again. Also, now I can't run any `blt workflow:*` commands from Alfred anymore. However, I can run `/usr/bin/python alfred_bluetooth_workflow.py workflow:noautoupdate` from the commandline, so I think I've managed to disable a

[2020-12-15 23:11] cameronsstone commented on #20
I tried a remove, then reinstall, and ended up in the same state (workflow working, but Dean's workflow magic commands are not).

[2020-12-16 19:36] tilmanginzel commented on #20
Hi @cameronsstone, thanks for reporting. I will try to take a look at it this coming weekend! (cc @trietsch)

[2020-12-19 17:02] tilmanginzel commented on #20
Hi again, I can only partially reproduce the issue (Alfred 4.3, Workflow 0.9.0, MacOS 10.15.7). Calling
[code]
produces the same output you get, but I am also not sure if this would be a valid way to trigger the update. Using `blt workflow:update` gives the expected output for me.

Can you please check the following:

- Go to the workflow settings
- Click on "Bluetooth Connector" and then press Cm

[2020-12-23 03:32] cameronsstone commented on #20
Thanks for looking into it.

I tried deleting those files and after next run the __workflow_last_version is 0.3.0. Trawling through Deanishe's workflow code, the `alfred_env` method in workflow.py is finding an environment variable called `alfred_workflow_version` with value `0.3.0`. I don't have the faintest idea where that comes from, but it stops Dean's code from picking up the version from you

[2020-12-26 19:40] tilmanginzel commented on #20
Interesting, I also don't have an idea where this might come from, but I never really looked too much at the workflow.py code. The only thing I also noted in your filed issue is this path:
[code]
Is this `Backups` folder a folder where all your workflows reside, or was this only a temporary one? _Might_ be related, not sure...

What is your proposal on how we should proceed with this issue? So far

[2020-12-27 05:15] cameronsstone commented on #20
The Backups path is just where all my workflows are, so they get backed up. I don't think that is the cause, but I could be wrong.

As for what to do, and given the lack of impact, I suggest one of:
1. Hang back and see what Dean says in issue #170
2. Switch from using a `version` file to using a version key-value pair in info.plist. I think Dean's worflow code should handle the migration transpar

[2020-12-28 11:03] tilmanginzel commented on #20
That sounds like a good workaround, thanks for the hint. I will keep this open until a new version will be released so I don't forget about it. :)

[2021-02-02 03:00] atanasj opened #21 "workflow not working"
The workflow suddenly stopped showing or being able to connect to any bluetooth devices.

I can restart and turn bluetooth off, etc., however no devices are shown. See below for debug error. Any help or advice would be greatly appreicated as this is/was a very helpful workflow!

[code]

[code]

Please let me know if you need any further info. Cheers.

[2021-02-03 05:00] ksc98 commented on #21
You still need help on this?

`python workflow/workflow.py` will return an error since cPickle is not a package in python3. But, this doesn't seem to give me any issues since the workflow works as intended for me.

If that still doesn't work, perhaps try `import pickle as cPickle` ?

[2021-02-06 14:25] tilmanginzel commented on #21
Hi @atanasj, sorry took me a while to see this issue. I have not yet figured out how to get email notifications only for your own repositories...

I would also assume as @ksc98 that you probably switched to python 3 globally. As far as I know, Alfred workflows are still only compatible with Python 2, at least that's true for the library I am using:
- https://github.com/deanishe/alfred-workflow/iss

[2021-02-07 08:26] ksc98 commented on #21
Poor wording on my part, lemme clarify:

Originally, I thought @atanasj was running the workflow with `python workflow.py`

When I tried this (on python 3), it also gave me the same error OP was describing.

However, for me, this doesn't matter, because invoking the workflow via Alfred works, regardless of whether one is able to execute `python workflow.py`

[2021-02-08 02:23] atanasj commented on #21
Thanks @ksc98  and @tilmanginzel. I see on one of these above linked issues that there is a Py3 port (although not sure how to get that working). I do have Py3 enabled system wide... Any tips on how to get this workflow to use the Py2 shipped with my OS?

[2021-02-09 02:41] ksc98 commented on #21
@atanasj, any particular reason you are trying to get it working with python2? I am using python3 globally on my system, and the workflow works as intended. Are you saying you can't get the workflow to work at all?

[2021-02-13 12:05] atanasj commented on #21
@ksc98, no, I would prefer to have Python3, but I thought that was the problem. If I can get it working with Py3 only, that would be great, as I have Py3 enables system wide. I enable/disable/restart/toggle, but that's it. No BT devices are visbile, and they were before. Any ideas about what to do to get this working again?

[2021-02-14 19:05] tilmanginzel commented on #21
Hi @atanasj, do you still have python 2 available on your system somewhere? If yes, you should be able to use a simple workaround:

- Go to Alfred Preferences and click on the workflow
- Double-click on the first `blt` object
- As you can see, it executes a script via `python alfred_bluetooth_workflow.py "{query}"`
- You should be able to just change `python` to a python 2 reference on your system

[2021-02-14 22:16] atanasj commented on #21
Okay... I honestly do not know what has happened, but I went to reinstall the workflow, and it is now working as expected. Super strange and I do not know what has happened at all. As this is no longer an issue (and probably a user generated one), I'll close the issues. Thanks for the feedback and guidance.

[2021-02-16 19:37] tilmanginzel commented on #21
Very glad to hear that it's working again @atanasj, even though the root cause is still unclear! :)

Please feel free to reopen (or create a new one) when the issue comes up again.

[2021-02-17 11:22] atanasj commented on #21
Ha... So, I'm spontaneously getting the same error again!

[2021-02-17 21:35] tilmanginzel commented on #21
I still feel like this somehow has to be related to your local setup with Python 2 / Python 3. Can you check what I wrote in https://github.com/tilmanginzel/alfred-bluetooth-workflow/issues/21#issuecomment-778825275 and point the workflow to a Python 2 executable? Maybe this results in a stable workaround, with the downside that future workflow updates might break again for you. Additionally, I co

[2021-02-17 21:42] tilmanginzel commented on #9
I am going to close this issue as the workflow is in use on Catalina (and Big Sur) for a while now. There's nothing to be done in the workflow itself, except for pointing users to the above workarounds (which is referenced in the readme).

[2021-02-17 21:42] #9 closed

[2021-02-19 09:36] atanasj commented on #21
Thanks @tilmanginzel. My default python version is `Python 3.9.0`. But, alas, the workflow is working again. If it's okay, I'll leave the issue open for another week and if I continue to experience issues then I'll report back. I'm not too sure how a workflow environment variable would work, but that could be a good solution in my use case (if it is related to the python version).

[2021-02-19 17:39] tilmanginzel commented on #21
Yeah we can keep this open for now. The environment variable would be a possibility for the user to set a path to a python 2 executable. If it is not set, the workflow could just use `python` as a fallback.

[2021-03-08 21:31] tilmanginzel commented on #21
Hey @atanasj, just checking if there have been any issues lately? :)

[2021-03-10 05:00] atanasj commented on #21
Hey @tilmanginzel, funny you should ask. It was working great, and then stopped again. I haven't had a time to restart to see if that fixes the problem as I'm currently running some analyses, but I will and get back again.

[2021-03-10 12:12] a-rock-lobster opened #22 "Notifcations not working"
Hi,

First, thank you for making the workflow. Very useful and time saving.

I find that there are no notifcations using the workflow. If I understand correctly there should be notifcations after (de)connecting, turning bt on and off etc.

I was prompted to allow notifcations for the terminal, which I didm but still nothing.

I also tried a reinstall to no effect.

Cheers,

[2021-03-10 23:00] tilmanginzel commented on #22
Hi @a-rock-lobster, the workfow uses [terminal-notifier](https://github.com/julienXX/terminal-notifier) for notifications. There are a couple of things you could check:

1. Open the Alfred workflow settings
2. Open the debug mode (CMD + D)
3. Type a command like `blt <your device>`

When everything works, this should be printed:
[code]
Can you paste your logs or do you spot something suspicious in

[2021-03-11 12:54] a-rock-lobster commented on #22
Hiya,

Thanks for the info.

Here's the debug; it looks normal to me:

[code]
I also tried executing the notification command directly from the terminal (having navigated to the folder). It appears to execute in the terminal, but nothing happens.

I'm on Big Sur. [I did this already when installing](https://github.com/tilmanginzel/alfred-bluetooth-workflow/issues/9#issuecomment-691705659). I also

[2021-03-11 12:56] a-rock-lobster commented on #22
Okay, I'm an idiot. Just found that 'Do Not Disturb' was set to permeanantly on… embarrasing. I'm so sorry for waisting your time…

[2021-03-11 16:33] tilmanginzel commented on #22
Haha, no worries! :) Glad to hear that it's working now and that you found the root cause. 👍

[2021-03-11 16:33] #22 closed

[2021-04-22 07:43] BenjaminVanRyseghem opened #23 "Icon transparency"
Hi!

First of all, thanks for the workflow, it's awesome!

I open this ticket because I use a dark theme alfred, and the gliph of the icon is transparent, which results in a not so nice UI

<img width="57" alt="Screen Shot 2021-04-22 at 09 32 16" src="https://user-images.githubusercontent.com/407891/115675041-88a19700-a34e-11eb-8442-e43f4089d398.png">

So I quickly hacked the `icons/*.png` files t

[2021-04-22 17:25] tilmanginzel commented on #23
Hi @BenjaminVanRyseghem, thanks for this idea! I'll add your icons in a new update soon. But I will probably stick with the color for now, to stay true to _Blue_ tooth. :)

[2021-04-22 17:30] tilmanginzel commented on #21
Hi @atanasj, not trying to be annoying but is there an update on this? I'm inclined to close the issue, as the title "workflow not working" can be a bit off-putting at first glance. It seems to be an isolated edge-case, possibly related to an incompatible python version.

[2021-04-23 06:20] BenjaminVanRyseghem commented on #23
I was talking about the white rune, that I was considering greying instead of pure white to reflect the disconnect state :smile:

[2021-04-24 13:42] tilmanginzel commented on #23
Oh, I see. I will probably stick with white glyphs for now, but luckily customizing this is very easy with Alfred workflows. :)

[2021-05-01 11:29] atanasj commented on #21
Hi. Sorry, I should have given an update... It seems to be writing without issue, so this could be closed. Thanks again @tilmanginzel.

[2021-05-01 13:12] tilmanginzel commented on #21
No worries, good to hear it's working for now!

[2021-05-01 13:12] #21 closed

[2021-05-08 14:39] tilmanginzel commented on #20
I have added the version to `info.plist` and tested on a separate device that the update from 0.9.0 to 0.10.0 worked as expected. 👍

[2021-05-08 14:39] #20 closed

[2021-05-08 14:39] tilmanginzel commented on #23
@BenjaminVanRyseghem I just published version 0.10.0 with your icons, thanks again!

[2021-05-08 14:39] #23 closed

[2021-05-08 14:42] #17 closed

[2021-05-08 14:43] tilmanginzel commented on #17
As mentioned above, closed for a lack of viable solutions.

[2021-05-13 11:25] a-rock-lobster opened #24 "Suggestion: use bluetooth user customised device names"
Hiya,

I have a suggestion if I may.

Mac OS gives the user the ability to change the display names of bluetooth devices. If one connects to alot of devices it's quite helpful for keeping track of what's what.

A record of bluetooth device custom names can be found within:
/Library/Preferences/com.apple.Bluetooth.plist

I would personally find it really helpful for quickly searching a device if th

[2021-05-13 12:49] tilmanginzel commented on #24
Hi @a-rock-lobster :)

I somehow thought this was already working, as I saw in the past that some of my custom names have been reflected. So I did a quick test and observed the following:
- custom names seem to work for apple devices (magic mouse / keyboard), but they are only reflected after a reconnect
- custom names for third party devices were not shown

This workflow is using [blueutil](https

[2021-08-14 21:33] wilbeibi opened #26 "Bad CPU type error after upgrade to latest version"
Alfred's debug output:
[code]
OS: BigSur 11.5.2, Intel

[2021-08-14 21:36] wilbeibi commented on #26
Weird, when I try `blueutil --paired --format=JSON` from terminal, it works fine.

[2021-08-14 21:40] wilbeibi commented on #26
Errr, after googling, i found this is a macOS thing, not specific to this tool, sorry, closing it.

[2021-08-14 21:40] #26 closed

[2021-08-14 21:50] wilbeibi commented on #26
In case other people hit the same issue: I ended up fix it via replace the blueutil binary in the workflow folder with the one I installed from homebrew.

[2021-08-15 15:46] prayashm opened #27 "Getting `[Errno 86] Bad CPU type in executable` on updating to v0.11.0"
Debug logs:
[code]

[2021-08-15 16:36] thatguychrisw commented on #27
The issue seems to be related to the `blueutil` binary update in version v0.11.0.  I opened the workflow's folder and replaced that file with the one from [version v0.10.0](https://github.com/tilmanginzel/alfred-bluetooth-workflow/releases/tag/v0.10.0) and it's working again.

[2021-08-17 17:06] tilmanginzel commented on #27
Hi @prayashm, @thatguychrisw, thanks for making me aware of it. I have compiled the binary on a M1 macbook, that's probably the root cause. I will publish a new version latest tomorrow.

[2021-08-17 17:09] tilmanginzel commented on #26
Hi @wilbeibi, I mistakenly compiled the latest blueutil binary on a M1 macbook, will publish an update tomorrow (see https://github.com/tilmanginzel/alfred-bluetooth-workflow/issues/27). Using the old binary is also fine as a workaround though.

[2021-08-18 16:47] cameronsstone commented on #27
Thanks for jumping on this so quickly. :-)

[2021-08-18 17:19] tilmanginzel commented on #27
I have just published version `0.11.1` with a new binary, tested it on a M1 and Intel Macbook. Should be fixed now :)

[2021-08-18 17:19] #27 closed

[2021-08-18 17:20] tilmanginzel commented on #26
@wilbeibi I have just published version 0.11.1 with a new binary, tested it on a M1 and Intel Macbook. Should be fixed now :)

[2021-08-18 19:35] wilbeibi commented on #26
Thank you for the fix, I just updated it, it works great.

[2021-08-21 01:53] kopinions opened #28 "the new compiled blueutil is only compatible on M1 soc?"

[2021-08-23 11:07] hoanghua commented on #28
Upgrading to version 0.11.1 fixes the issue "Bad CPU type in executable" for me. The workflow is back to normal now.

[2021-08-23 18:25] tilmanginzel commented on #28
Hi @kopinions, @hoanghua, yes. Version 0.11.1 fixed the issue, see #26 #27.

[2021-08-23 18:25] #28 closed

[2021-10-02 14:12] im-AMS opened #29 "[error] Not able to import"
[code]
Device MacAir M1 BS 11.6

[2021-10-03 12:30] tilmanginzel commented on #29
Hey @im-AMS, hm that's weird. Which Alfred version are you using?

I googled a bit and it seems that your file might be corrupted or you imported the wrong file(s). How did you install the workflow? Have you by any chance unpacked the [Bluetooth.Connector.alfredworkflow](https://github.com/tilmanginzel/alfred-bluetooth-workflow/releases/tag/v0.11.1) file? `.alfredworkflow` files are simply `.zip`

[2021-10-03 18:42] im-AMS commented on #29
after a lot of googling around i found just dragging the file to workflow did the trick. I guess its issue with alfred. Turns out it errors out irrespective of workflow file.

[2021-10-03 18:42] #29 closed

[2022-01-11 03:14] VTrngNghia commented on #24
Hi

I'm using a non-Apple device (Galaxy Buds), and customized names worked well for me today.

[2022-01-17 09:15] a-rock-lobster commented on #24
Hullo again,

Customised names have started working for me too. I guess this can be closed?

Cheers,

[2022-01-22 14:10] tilmanginzel commented on #24
Hi, thanks for the info. :) Seems to be working for me too now. If anyone encounters this issue again, feel free to reopen / leave a comment.

[2022-01-22 14:10] #24 closed

[2022-01-30 21:05] charliesabino opened #31 "Error 86"
Hi,

When trying to set up the workflow on my new MacBook Pro (M1), I'm getting this error message:

<img width="548" alt="CleanShot 2022-01-30 at 15 05 15@2x" src="https://user-images.githubusercontent.com/94320712/151717787-ec609325-6537-4a29-ae29-8700fc8d4356.png">

How do I fix this?

Thanks.

[2022-02-02 02:52] #31 closed

[2022-02-05 13:58] tilmanginzel commented on #31
Hi @charliesabino, sorry missed this one. Seems to be resolved, if it reoccurs, just reopen the issue.

[2022-03-18 09:40] datenreisender opened #32 "Breaks on macOS 12.3"
[macOS 12.3 removed Python 2](https://developer.apple.com/documentation/macos-release-notes/macos-12_3-release-notes#Python) which breaks the script filter. So, on a normal macOS 12.3 no Bluetooth devices show up in this workflow anymore. :-( And since [homebrew also removed support for Python 2 two years ago](https://docs.brew.sh/Homebrew-and-Python) it is not so simple to install Python 2 any lo

[2022-03-18 10:19] tilmanginzel commented on #32
Hi @datenreisender, thanks for opening the issue. I have been following the discussions on deanishe/alfred-workflow for a while now, and so far have not been happy with any of the solutions:

1. Force users to install python2 (as you mentioned, not really recommended anymore). The workflow would lose its "just works" charm, as it also includes other dependencies like blueutil and terminal-notifier

[2022-03-18 11:22] datenreisender commented on #32
If alfred-workflow is used only for a small part (automatic update) is it possible to have it degrade gracefully?

Like, if there is only python3 then still have the code running that returns the list of devices and if there is python2 then additionally also run the code for automatic updates? Or would implementing that be too hard?

[2022-03-18 11:44] tilmanginzel commented on #32
Hm, good idea, that should work I suppose. 👍

All the custom python code is in [alfred_bluetooth_workflow.py](https://github.com/tilmanginzel/alfred-bluetooth-workflow/blob/master/alfred_bluetooth_workflow.py). I could copy most of it to a python3 script, without the alfred-workflow dependency. The surrounding [script filter](https://github.com/tilmanginzel/alfred-bluetooth-workflow/blob/dd1102485

[2022-03-18 13:38] tilmanginzel commented on #32
Turns out, the migration is rather straightforward. :) Should be able to publish a macOS 12.3 / python3 compatible version today.

[2022-03-18 14:58] tilmanginzel commented on #32
@datenreisender I have just published version `0.12.0` which is now Python 3 compatible (Python 2 support has been dropped). I tested the workflow on MacOS 12.3 and MacOS 12.2.1, without issues.

Can you please test if it works again as expected? You can force the update via `blt workflow:update`.

[2022-03-18 16:37] datenreisender commented on #32
I wasn't able to use `blt workflow:update` because Alfred did not offer me any bluetooth actions for that string (because the script filter for `blt` failed. But I was able to install the new version manually and now it works again for me (probably because I have also Python 3 installed). Thanks for the quick help!

[2022-03-18 16:37] #32 closed

[2022-03-18 17:00] tilmanginzel commented on #32
Glad to hear that it works! 👍 Yes, `python3` is a prerequisite now. According to some comments I saw, Apple should prompt the user automatically to install it via Developer Tools, if it is not yet installed. Couldn't test this though.

[2022-06-26 19:41] austschn opened #34 "Error preventing devices from showing up"
I love this app and use it many times per day. Recently, it has stopped showing the devices available to connect to or disconnect from. I have tried to troubleshoot this on my own but have limited knowledge with what is brought up in the error message below. I have fully uninstalled and re-installed the workflow with version 0.12.0.

Here is what it looks like for me. Any help would be much apprec

[2022-06-27 09:55] tilmanginzel commented on #34
Hey @austschn, hm interesting, have you done any OS update before it stopped working? Or has it just stopped working randomly?

The error seems to be related to MacOS CommandLineTools, what happens when you try to (re)install them via `xcode-select --install`?

[2022-06-27 13:16] austschn commented on #34
Hey @tilmanginzel - thank you for your help. That command itself did not work, but deleting the xCode app and reinstalling it from the app store seemed to work. I didn't think you would need xCode even installed for the app to work.

In any case, it is back online! Thank you again,

[2022-06-29 16:47] tilmanginzel commented on #34
Glad to hear it's working again! :)

I am not 100% sure why xcode is required, but I think that `python3` does not come preinstalled on new MacOS versions since 12.3, and it is only installed together with `xcode`. In any case, I will close the issue. If it reoccurs, freel free to reopen or create a new one!

[2022-06-29 16:47] #34 closed

[2022-10-09 10:59] spearkkk commented on #28
<img width="478" alt="Screen Shot 2022-10-09 at 19 58 59" src="https://user-images.githubusercontent.com/19977962/194753075-82856849-60b8-4b97-b495-ebfd10a225fe.png">
<img width="718" alt="Screen Shot 2022-10-09 at 19 58 55" src="https://user-images.githubusercontent.com/19977962/194753077-2913b547-7b36-4ce9-9639-51bbce49e50c.png">

@tilmanginzel Hi,
I got the same error, Could you check for this?

[2022-10-09 12:08] tilmanginzel commented on #28
Hi @spearkkk, that is strange. Are you on M1 or Intel CPU? The blueutil binary was compiled on Intel, so it should also work on M1 with Rosetta.

[2022-10-09 13:29] spearkkk commented on #28
@tilmanginzel  I used M2 and i didnt install Rosetta.
Could I need to install Rosetta?

[2022-10-09 19:27] tilmanginzel commented on #28
@spearkkk Ah I see, then that's the root cause. I guess you have two options now:

1. Install Rosetta, or if you don't want to do that
2. [Compile a blueutil binary](https://github.com/toy/blueutil#from-source) on your laptop and replace it in the workflow folder

[2022-10-11 04:18] spearkkk commented on #28
@tilmanginzel Thank you! I fixed it. :D